*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.container{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.card{
    width: 32rem;
    height: 20rem;
    background-color: rgb(47, 144, 223);
    border-radius: 0.6rem;
    padding: 1rem;
    color: white;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
    font-size: 1.2rem;
  transition: 0.3s;
}
.card:hover{
    box-shadow: 0.2rem 0.2rem 0.2rem #222;

}
.card-title{
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}
.form-field{
    /* margin-bottom: 1rem; */
}
input{
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color: rgb(19, 97, 160);
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    width: 50%;

}
button{
    border: none;
    background-color: rgb(10, 67, 152);
    color: white;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
 transition:0.4s;
}
button:hover{
    background-color: white;
    color: #000;
}
.buttons{
    text-align: end;
    margin-top: 0.8rem;
    margin-right: 0.6rem;
    margin-bottom: 0.7rem;
}
p{
    text-align: center;
}
.largest-text{
    font-size: 1.7rem;
    font-weight: 500;
}